<template name ="course">
<div class= "container">

<button id="submit" class="btn btn-lg btn-primary create-course spaces">Create Course Folder</button>
<p>Course Code</p><strong>{{SomeText}}</strong>

<form class="spaces course-form" method="post" enctype="multipart/form-data" style="display:none;">
<input type="hidden" value="" name="id" />
 <input class="form-control" type="text" name="title" placeholder="Folder Name"  />
 <button type="submit1" class="btn btn-lg btn-primary">Submit</button>
 <button class="btn btn-lg btn-default btn-cancel">Cancel</button>


<div id="summernote">Hello Summernote</div>
</form>

</div>
</template>