<template name="home">
	<div class="container">
		{{#if isLoggedin}}
        <h1 class="title-auth">Welcome.</h1>
		<a style="float:right;" href="/logout">Logout</a>
		{{#if isTeacher}}
			<button class="btn btn-lg btn-primary create-course spaces">Create Course</button>
			<form class="spaces course-form" method="post" enctype="multipart/form-data" style="display:none;">
				{{#if errorMessages}}
				<div class="alert alert-danger">
				  {{#each errorMessages}}
					<div class="s-only">{{this}}</div>
				  {{/each}}
				</div>
				{{/if}}
				<input type="hidden" value="" name="id" />
				<input class="form-control" type="text" name="title" placeholder="Course Title" />
				<input class="form-control" type="hidden" name="file" />
				{{> upload_bootstrap multiple=false fileTypes='.pdf' formData=specificFormData}}
				<br /><br />
				<button type="submit" class="btn btn-lg btn-primary">Submit</button>
				<button class="btn btn-lg btn-default btn-cancel">Cancel</button>
			</form>
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Courses List</div>
			
			  <!-- Table -->
			  <table class="table">
				<thead>
					<tr>
						<th>Title</th><th>Code</th><th>Attachment</th><th>&nbsp;</th>
					</tr>
				</thead>
			  	<tbody>
				{{#each teacherCourses}}
					 
					<tr><td><a href="{{pathFor 'course'}}/{{this.coursecode}}" class="link-auth-alt">{{this.title}}.</a></td><td>{{this.coursecode}}</td><td>{{#if this.attachmenturl}}<a target="_blank" href="{{this.attachmenturl}}"><span title="Download" class="glyphicon glyphicon-floppy-save">&nbsp;</span></a>{{/if}}</td>
					<td><span title="Edit" class="glyphicon glyphicon-pencil">&nbsp;</span>&nbsp;&nbsp;<span title="Delete" class="glyphicon glyphicon-remove">&nbsp;</span>
					</td></tr>
				{{/each}}
				</tbody>
			</table>
			</div>
		{{else}}	
			<form class="spaces course-find-form" method="post" enctype="multipart/form-data">
				{{#if errorMessages}}
				<div class="alert alert-danger">
				  {{#each errorMessages}}
					<div class="s-only">{{this}}</div>
				  {{/each}}
				</div>
				{{/if}}
				<input class="form-control" type="text" name="coursecode" placeholder="Course Access Code" />
				<button class="btn btn-lg btn-primary find-form-btn">Find</button>
			</form>
			<div class="panel panel-default matching-courses" style="display:none;">
			  <div class="panel-heading">Courses List</div>
			  <table class="table">
				<thead>
					<tr>
						<th>Title</th><th>Code</th><th>&nbsp;</th>
					</tr>
				</thead>
			  	<tbody>
				</tbody>
			</table>
			</div>
			<div class="panel panel-default">
			  <!-- Student Courses -->
			  <div class="panel-heading">You have joined following courses</div>
			  <table class="table">
				<thead>
					<tr>
						<th>Title</th><th>Code</th><th>Attachment</th>
					</tr>
				</thead>
			  	<tbody>
				{{#each studentCourses}}
					<tr><td>{{this.title}}</td><td>{{this.coursecode}}</td><td>{{#if this.attachmenturl}}<a target="_blank" href="{{this.attachmenturl}}" download><span title="Download" class="glyphicon glyphicon-floppy-save">&nbsp;</span></a>{{/if}}</td></tr>
				{{/each}}
				</tbody>
			</table>
			</div>
		{{/if}}
		{{/if}}
	  </div>
</template>