<template name="join">
	<div class="container">
        <h1 class="title-auth">Join.</h1>
        <p class="subtitle-auth" >Joining allows you to make private lists</p>

        <form class="form-signin" method="post">
          {{#if errorMessages}}
            <div class="alert alert-danger">
              {{#each errorMessages}}
                <div class="s-only">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          
            <input class="form-control" type="email" name="email" placeholder="Your Email" />
            <input class="form-control" type="password" name="password" placeholder="Password" />
            <input class="form-control" type="password" name="confirm" placeholder="Confirm Password" />
			<label class="radio-inline"><input type="radio" checked="checked" name="role" value="student">I am a Student</label>
			<label class="radio-inline"><input type="radio" name="role" value="teacher">I am a Teacher</label>
			<div class="clear"><br></div>
			<button type="submit" class="btn btn-lg btn-primary">Join Now</button>
        </form>
  
      <a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
	  </div>
</template>