<template name="signin">
  <div class="container">
        <h1 class="title-auth">Sign In.</h1>
        <p class="subtitle-auth" >Signing in allows you to view private lists</p>

        <form class="form-signin" method="post">
          {{#if errorMessages}}
            <div class="alert alert-danger">
              {{#each errorMessages}}
                <div class="s-only">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          
            <input class="form-control" type="email" name="email" placeholder="Your Email" />
            <input class="form-control" type="password" name="password" placeholder="Password" />
            <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
        </form>

      <a href="{{pathFor 'join'}}" class="link-auth-alt">Need an account? Join Now.</a>
    </div>
</template>