/* CSS declarations go here */
.form-control, .radio-inline, .spaces {
	margin-bottom: 10px;
}
.form-signin, .course-find-form, .course-form {
	max-width: 500px;
}
.upload-control{
	margin-bottom: 0px;
}
.upload-control.done {
    display: none;
}
.glyphicon {
    cursor: pointer;
}
